body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#splash {
    background-color: #000000;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    transition-property: top;
    transition-duration: 500ms;
    transition-delay: 2000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash h1{
    font-size: 4rem;
    margin-top: 5%;
}

#splash.animate {
    top: -100vh;
}

